:root {
  color-scheme:light dark;
  font-family : system-ui, sans-serif;
  line-height:1.5
}


#root {
  max-width: 640px;
  margin: 0 auto;
 padding: 1.5rem;
}

body {
  margin: 0;
}
button{
  padding: 0.4rem 0.9rem;
  cursor: pointer;
}
div > div{
  border: 1px solid red;
  margin: 10px;
  padding: 10px;
}